.passWrapper {
    width: 50%;
    position: relative;
}

.showPass {
    position: absolute;
    right: 20px;
    top: calc(50% - 32px);
    z-index: 5;
}

.showPass:hover {
    cursor: pointer;
}

.passwordInput {
    position: relative;
    width: 80%;
    padding: 20px 30px;
    margin: 25px;
    border: 3px solid;
    border-radius: 30px;
    font-size: 20px;
}

.passwordInput:hover {
    box-shadow: 0 0 10px rgba(39, 18, 50, 0.5);
}

.err-pass {
    font-size: 15px;
    color: #ff0000;
}