@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.articleNote {
    position: relative;
    height: 250px;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    width: 28%;
    min-height: 200px;
    max-height: 400px;
    min-width: 200px;

    @media (max-width: 1010px) {
        grid-column: span 2;
    }
}

.delete-icon {
    float: right;
    position: relative;
    top: 9px;
    transform: scale(1.8);
}

.edit-icon {
    float: right;
    position: relative;
    top: 40px;
    right: -15px;
    transform: scale(1.8);
}

.favourite-icon{
    position: relative;
    float: right;
    top: 7px;
    transform: scale(1.8);
}

.myFavorite{
    color: red;
}

.note-details{
    color: #000;
    transform: scale(1.8);
    position: relative;
    float: right;
    top: -20px;
    right: 20px;
}

.delete-icon:hover, 
.edit-icon:hover,
.favourite-icon:hover,
.note-details:hover{
    cursor: pointer;
    transform: scale(2.3);
}

.noteOwner {
    margin-bottom: 5px;
}

.public,
.private {
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;

}

.noteTitle {
    margin-bottom: 5px;
}

.noteText {
    position: relative;
    width: 90%;
    font-size: 18px;
    max-height: 40%;
    overflow-y: auto;
    padding-bottom: 40px;
}

.tags-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: row;
}

.tags {
    background: #fff;
    border: 1px solid;
    border-radius: 10px;
    font-style: italic;
    font-size: 13px;
    padding: 3px;
    margin-right: 5px;
}

.private {
    width: 65px;
    font-size: 16px;
    border-radius: 10px;
    background: green
}

.public {
    width: 60px;
    font-size: 16px;
    border-radius: 10px;
    background: rgb(59, 4, 238);
    color: #fff;
}